<div id="<%= dom_id recipe %>">
  <h2>
    <%= link_to recipe.name, recipe %>
  </h2>

  <p>
    <%= recipe.description %>
  </p>

  <% if recipe.user_id == current_user.id %>
    <%= link_to "Remove", recipe, method: :delete %>
  <% end %>

</div>
