<div id="recipes">
  <% @recipes.each do |recipe| %>
    <%= render recipe %>
  <% end %>
</div>

<div class="new_recipe_btn">
  <%= link_to "New recipe", new_recipe_path, class: "btn btn-primary" %>
</div>