@import "bootstrap";

a:active {
  text-decoration: underline;
}

.container {
  width: 80%;
  margin: 0 auto;
  max-width: 768px;
}

.recipe_cont {
  display: flex;
  justify-content: space-between;
}

.recipe_name h5 a {
  text-decoration: none;
}

.recipe_desc {
  width: 60%;
}

.new_recipe_btn {
  text-align: center;
}
